flamingoserver/FlamingoServer.sdf
flamingoserver/FlamingoServer.v12.suo
flamingoserver/FlamingoServer.vcxproj.user
flamingoAndroid/build
flamingoAndroid/.idea

*.opensdf
*.sdf
iKutil.log

# Compiled Object files
*.slo
*.lo
*.o
*.log
LoginAccountList.data
flamingoclient/Bin/Users/
*.ilk
*.suo
iUpdateAuto.exe
*.tlog
*.lastbuild
*.ipch

# Compiled Dynamic libraries
*.so
*.dylib
flamingoclient/Source/Debug/
flamingoclient/iAutoUpdate/debug/
flamingoclient/Bin/Flamingo.exe
flamingoclient/Bin/CatchScreen.exe

flamingoclient/Bin/Logs/

# Compiled Static libraries
*.lai
*.la
*.a
*.sbr
*.idb
*.obj
*.pdb
*.ncb
*.pch
*.bsc
*.user
*.dep
*.map

.DS_Store
.vscode/
flamingoAndroid/.DS_Store
flamingoAndroid/.gradle/
flamingoAndroid/app/.DS_Store
flamingoAndroid/app/app.iml
flamingoAndroid/app/build/
flamingoAndroid/app/src/.DS_Store
flamingoAndroid/app/src/main/.DS_Store
flamingoAndroid/app/src/main/java/.DS_Store
flamingoAndroid/app/src/main/java/org/.DS_Store
flamingoAndroid/app/src/main/java/org/hootina/.DS_Store
flamingoAndroid/app/src/main/java/org/hootina/platform/.DS_Store
flamingoAndroid/app/src/main/java/org/hootina/platform/model/.DS_Store
flamingoAndroid/app/src/main/res/.DS_Store
flamingoclient/.DS_Store
flamingoclient/Bin/.DS_Store
flamingoclient/Source/.DS_Store
flamingoclient/Source/net/.DS_Store
flamingoserver/.DS_Store
flamingoserver/.vs/
