flamingoserver/FlamingoServer.sdf
flamingoserver/FlamingoServer.v12.suo
flamingoserver/FlamingoServer.vcxproj.user
flamingoAndroid/build
flamingoAndroid/.idea

*.opensdf
*.sdf
iKutil.log

# Compiled Object files
*.slo
*.lo
*.o
*.log
LoginAccountList.data
flamingoclient/Bin/Users/
*.ilk
*.suo
iUpdateAuto.exe
*.tlog
*.lastbuild
*.ipch

# Compiled Dynamic libraries
*.so
*.dylib
flamingoclient/Source/Debug/
flamingoclient/iAutoUpdate/debug/
flamingoclient/Bin/Flamingo.exe
flamingoclient/Bin/CatchScreen.exe

flamingoclient/Bin/Logs/

# Compiled Static libraries
*.lai
*.la
*.a
*.sbr
*.idb
*.obj
*.pdb
*.ncb
*.pch
*.bsc
*.user
*.dep
*.map
